# Environments and settings
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
